// TIPOGRAFIAS

// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// font-family: 'Bellefair', serif;
@import url('https://fonts.googleapis.com/css?family=Bellefair');


@font-face {
	font-family: 'Lato-Semibold';
	src: 	url('#{$cssDirectory}/Lato-Semibold.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Semibold.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Semibold.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Semibold.ttf.css') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Medium';
	src: 	url('#{$cssDirectory}/Lato-Medium.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Medium.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Medium.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Medium.ttf.css') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Black';
	src: 	url('#{$cssDirectory}/Lato-Black.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Black.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Black.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Black.ttf.css') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: 	url('#{$cssDirectory}/Lato-Light.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Light.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Light.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Light.ttf.css') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: 	url('#{$cssDirectory}/Lato-Bold.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Bold.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Bold.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Bold.ttf.css') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: 	url('#{$cssDirectory}/Lato-Regular.eot.css');
	src: 	url('#{$cssDirectory}/Lato-Regular.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Lato-Regular.woff.css') format('woff'),
			url('#{$cssDirectory}/Lato-Regular.ttf.css') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bellefair';
	src: 	url('#{$cssDirectory}/Bellefair-Regular.eot.css');
	src: 	url('#{$cssDirectory}/Bellefair-Regular.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/Bellefair-Regular.woff.css') format('woff'),
			url('#{$cssDirectory}/Bellefair-Regular.ttf.css') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: 	url('#{$cssDirectory}/SourceSansPro-Regular.eot.css');
	src: 	url('#{$cssDirectory}/SourceSansPro-Regular.eot.css?#iefix') format('embedded-opentype'),
			url('#{$cssDirectory}/SourceSansPro-Regular.woff.css') format('woff'),
			url('#{$cssDirectory}/SourceSansPro-Regular.ttf.css') format('truetype');
	font-weight: normal;
	font-style: normal;
}



// ICONS

@font-face {
  	font-family: 'icomoon';
  	src:    url('#{$cssDirectory}/icomoon.eot.css');
  	src:    url('#{$cssDirectory}/icomoon.eot.css?#iefix') format('embedded-opentype'),
    		url('#{$cssDirectory}/icomoon.ttf.css') format('truetype'),
    		url('#{$cssDirectory}/icomoon.woff.css') format('woff'),
    		url('#{$cssDirectory}/icomoon.svg.css?#icomoon') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
  	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

  	/* Better Font Rendering =========== */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.icomoon-shopBag {
	&:before {
	    content: $icomoon-bag;
	}
}
.icomoon-blacksip {
	&:before {
	    content: $icomoon-blacksip;
	}
}
.icomoon-facebook {
	&:before {
	    content: $icomoon-facebook;
	}
}
.icomoon-listadeseos {
	&:before {
	    content: $icomoon-heart;
	}
}
.icomoon-tiendas {
	&:before {
	    content: $icomoon-location;
	}
}
.icomoon-next {
	&:before {
	    content: $icomoon-next;
	}
}
.icomoon-instagram {
	&:before {
	    content: $icomoon-instagram;
	}
}
.icomoon-prev {
	&:before {
	    content: $icomoon-prev;
	}
}
.icomoon-send {
  &:before {
    content: $icomoon-send;
  }
}
.icomoon-buscador {
	&:before {
	    content: $icomoon-serch;
	}
}
.icomoon-twitter {
	&:before {
	    content: $icomoon-twitter;
	}
}
.icomoon-pedidos {
	&:before {
	    content: $icomoon-user;
	}
}
.icomoon-vtex {
	&:before {
	    content: $icomoon-vtex;
	}
}
.icomoon-youtube-play {
	&:before {
	    content: $icomoon-youtube-play;
	}
}

