$imagesDirectory		: "../images" !default;
$cssDirectory			: "/arquivos" !default;

//COLORES

$blanco         		: #FFFFFF;           
$negro          		: #000000;           
	
$rosa          			: #dc0050;          
$rosaOsc        		: #a5003c;                  
$rosaOsc2        		: #100006;                  
$grisClaro      		: #f8f8f8;          
$grisClaro2      		: #eeeeee;          
$grisClaro3      		: #b3b3b3;          
$grisOsc	      		: #cecece;          
$grisOsc2       		: #848484;          
$grisOsc3       		: #4d4d4d;          



//PATTERNS


//TRANSPARENCIAS


//TIPOGRAFIAS
$latoSemibold			: 'Lato-Semibold';
$latoMedium				: 'Lato-Medium';
$latoBlack				: 'Lato-Black';
$latoLight				: 'Lato-Light';
$latoBold				: 'Lato-Bold';
$latoRegular			: 'Lato-Regular';
$bellefair				: 'Bellefair';
$sourceSansPro			: 'Source Sans Pro';
$monserratLight			: 300;
$monserratRegular		: 400;
$monserratBold			: 700;
$monserratBlack			: 800;
$iconMoon				: 'icomoon' !important;


//ICONOS
$icomoon-bag			: "\e900";                        
$icomoon-blacksip		: "\e901";
$icomoon-facebook		: "\e902";
$icomoon-heart			: "\e903";                        
$icomoon-location		: "\e904";
$icomoon-next			: "\e905";                        
$icomoon-instagram		: "\e906";
$icomoon-prev			: "\e907";                        
$icomoon-send			: "\e908";                        
$icomoon-serch			: "\e909";                        
$icomoon-twitter		: "\e90a";
$icomoon-user			: "\e90b";                        
$icomoon-vtex			: "\e90c";                        
$icomoon-youtube-play	: "\e90d";

//BREIKPOINTS
$breakMobile    		: 767px;
$breakTablet    		: 1023px;
$smallDesktop   		: 1150px;
$hightDesktop   		: 1500px;

