.contentFooter
	.leftContent
		.contSuscription
			h3 SUSCRÍBETE A NUESTRO#[br]#[span NEWSLETTER]
			.innerContSuscription
				input(type="text", id="newsEmail")
				input(type="submit",)
		.contactCont
			h4 CONTACTO
			p.
				Industrias St. Even S.A
				#[br]
				PBX: (574) 576 79 70
				#[br]
				Carrera 46 # 30-61
				#[a(href="") info@stevensa.com]
		.socialMedia
			p Síguenos en:
			ul.redes
				li
					a(href="", target="_blank")
						i(class="icomoon-facebook", tittle="Facebook")
				li
					a(href="", target="_blank")
						i(class="icomoon-instagram", tittle="Instagram")
				li
					a(href="", target="_blank")
						i(class="icomoon-youtube-play", tittle="YouTube")
	.rightContent
		ul.staticCont.corporativo
			h4 CORPORATIVO
			li
				a(href="") Lorem ipsum dolor 
			li
				a(href="") Lorem ipsum dolor Lorem
			li
				a(href="") Lorem ipsum dolor 
		ul.staticCont.linksInteres
			h4 LINKS DE INTERÉS
			li
				a(href="") Lorem ipsum dolor 
			li
				a(href="") Lorem ipsum dolor Lorem fd
			li
				a(href="") Lorem ipsum dolor 
			li
				a(href="") Lorem ipsum dolor 
	.legalContent
		.leftContent
			ul.mediosPago
				h5 MEDIOS DE PAGO
				li
					img(src="", alt="")
				li
					img(src="", alt="")
				li
					img(src="", alt="")
				li
					img(src="", alt="")
				li
					img(src="", alt="")
				li
					img(src="", alt="")
				li
					img(src="", alt="")
			ul.seguridad
				h5 SITIO SEGURO
				li
					img(src="", alt="")
				li
					img(src="", alt="")
		.rightContent
			p Todos los derechos reservados St. Even 2017 | Empowered by 
			ul.developed
				li
					a(href="", target="_blank")
						i(class="icomoon-blacksip", alt="BlackSip", tittle="BlackSip")
				li
					a(href="", target="_blank")
						i(class="icomoon-vtex", alt="Vtex", tittle="Vtex")

