.contentHeaderDesk
	.contFieldDesk
		.social-stores
			.socialMedia
				p Síguenos en:
				ul.redes
					li
						a(href="", target="_blank")
							i(class="icomoon-facebook", tittle="Facebook")
					li
						a(href="", target="_blank")
							i(class="icomoon-instagram", tittle="Instagram")
					li
						a(href="", target="_blank")
							i(class="icomoon-youtube-play", tittle="YouTube")
			.localizador
				select#storeLocatorSelet(name="")
					option(value="lorem") lorem
					option(value="lorem") lorem
					option(value="lorem") lorem
					option(value="lorem") lorem
		figure.logo
			a(href="/", tittle="ST.EVEN")
				img(src="/arquivos/logo.png", alt="ST.EVEN")
		.pedidos-cart
			.datos-cart
				a.btnPedidos(href="") Tus pedidos
				a.btnListaDeseos(href="") Lista de deseos
				.carrito
					.itemsCarrito
						a(href="")
							i(class="icomoon-shopBag")
							p 0
					.resumenCarrito(style="display: none;")
			.contBuscador
	.contMenuDesk
		ul.menu
			li
				a(href="") ROPA INTERIOR
			li
				a(href="") VESTIDOS DE BAÑO
			li
				a(href="") ROPA DEPORTIVA
			li
				a(href="") PIJAMAS
			li
				a(href="") SALE
			li
				a(href="") VENTAS POR CATÁLOGO