header
	.contentHeaderDesk
		.promesaValor
			h3 PIDE ONLINE Y PAGA EN TU HOGAR
		.contFieldDesk
			.social-stores
				.socialMedia
					p Síguenos en:
					ul.redes
						li
							div(class="icon-facebook", tittle="Facebook")
						li
							div(class="icon-instagram", tittle="Instagram")
						li
							div(class="icon-youtube-play", tittle="YouTube")
				.localizador
					select#storeLocatorSelet(name="")
						option(value="lorem") lorem
						option(value="lorem") lorem
						option(value="lorem") lorem
						option(value="lorem") lorem
			figure.logo
				a(href="", tittle="ST.EVEN")
					img(src="", alt="ST.EVEN")
			.pedidos-cart
				a.btnPedidos(href="") Tus pedidos
				a.btnListaDeseos(href="") Lista de deseos
				.carrito
					.itemsCarrito
						a(href="")
							i(class="icon-shopBag")
							p 0
					.resumenCarrito(style="display: none;")
		.contMenuDesk
			ul.menu
				li
					a(href="") ROPA INTERIOR
				li
					a(href="") VESTIDOS DE BAÑO
				li
					a(href="") ROPA DEPORTIVA
				li
					a(href="") PIJAMAS
				li
					a(href="") SALE
				li
					a(href="") VENTAS POR CATÁLOGO