.contentHeaderMobile
	.contFieldDesk
		.left
			.btnMenu
				span
			.btnBuscador
				a(href="")
					i.icomoon-buscador
			.btnTiendas
				a(href="")
					i.icomoon-tiendas
		figure.logo
			a(href="/", tittle="ST.EVEN")
				img(src="/arquivos/logo.png", alt="ST.EVEN")
		.right
			.btnPedidos
				a(href="")
					i.icomoon-pedidos
			.btnListaDeseos
				a(href="")
					i.icomoon-listadeseos
			.carrito
				.itemsCarrito
					a(href="")
						i(class="icomoon-shopBag")
						p 0
	.contMenuMobile
		ul.menu
			li
				a(href="") ROPA INTERIOR
			li
				a(href="") VESTIDOS DE BAÑO
			li
				a(href="") ROPA DEPORTIVA
			li
				a(href="") PIJAMAS
			li
				a(href="") SALE
			li
				a(href="") VENTAS POR CATÁLOGO
	.contBuscador